
div#comment-add{
	margin-top: 32px;	
}
div.comments{
	margin-top: 32px;
}
div.comments div.comment-view{
}
div.comments div.comment-view span{
	padding: 0 2px;
}
div.comments div.comment-view span.index{
}
div.comments div.comment-view span.user{
}
div.comments div.comment-view span.date{
}
div.comments div.comment-view span.data{
}
div.comments div.comment-view span.moderated{
	/*display: none;*/
}
div.comments div.comment-view span.bann{
}
div.comments div.comment-view span.moderate{
}
div.comments div.comment-view span.uncomment{
}
