
form.reg dl{
	margin: 0 auto 4px;
	width: 600px;
}
form.reg dt{
	clear: left;
	float: left;
	line-height: 200%;
	text-align: right;
	width: 49%;
}
form.reg dd{
	margin-left: 50%;
	line-height: 200%;
	position: relative;
}
form.reg div{
	clear: left;
	margin-bottom: 24px;
	text-align: center;
}

div.reg span.login{
}
div.reg span.email{
}
div.reg span.admin{
}
div.reg span.banned{
}
div.reg span.name{
}
div.reg span.date{
}
div.reg span.sex{
}
div.reg span.country{
}
div.reg span.information{
}
div.reg span.accept{
}

