
div.comment-add{
	margin-top: 32px;	
}
div.comments{
	margin-top: 32px;
}
div.comment{
}
div.comment span.index{
}
div.comment span.user{
}
div.comment span.date{
}
div.comment span.data{
}
div.comment span.moderated{
	display: none;
}
div.comment span.bann{
}
div.comment span.moderate{
}
div.comment span.uncomment{
}
