
div#login form{
	background-color: #eee;
	border-radius: 8px;
	margin: 8px auto 8px;
	padding: 16px 24px;
	width: 300px;
}
div#login form dl{
	margin: 0;
	padding: 0;
}
div#login form a{
	font-size: small;
}
div#login form dt{
	clear: left;
	float: left;
	line-height: 150%;
	text-align: right;
	width: 49%;
}
div#login form dd{
	margin-left: 51%;
	line-height: 150%;
	position: relative;
	text-align: left;
}
div#login form div{
	clear: left;
	text-align: center;
}
