
html, body{
	margin: 0;
	padding: 0;
	min-height: 100%;
}
html{
	position: relative;
}
body{
	background: fixed #999 url("/img/titul.jpg") center top no-repeat;
	background-size: 100%;
	color: #000;
	font-family: "Verdana", "Helvetica", "Arial", sans-serif;
	opacity: 0.95;
}

a#logo{
	position: absolute;
	margin-left: 16px;
	margin-top: 1px;
}
a#logo img{
	width: 100px;
}

a{
	text-decoration: none;
	color: #2b1921;
}
a:hover{
	text-decoration: underline;
}

body{
	padding-top: 102px;
	padding-bottom: 32px;
}
header{
	background-color: #f29f4b;
	border-radius: 0 0 32px 32px;
	font-size: 13pt;
	height: 102px;
	opacity: 0.80;
	position: absolute;
	top: 0px;
	width: 100%;
}
footer{
	background: #f29f4b;
	border-radius: 32px 32px 0 0;
	bottom: 0px;
	height: 16px;
	opacity: 0.80;
	padding: 8px;
	position: absolute;
	text-align: center;
	width: 100%;
}

p{
	text-align: justify;
}

ul, li{
	margin: 0;
	padding: 0;
	list-style-type: none;   
}

#menu{
	border: 1px red solid;
	display: block;
	position: absolute;
	top: 25px;
	right: 20px;
}
#menu > li{
	display: table-cell;
	float: left;
}
#menu > li > a{
	display: inline-block;
	padding: 20px 30px 30px 30px;
}
#menu > li > ul{
	display: none;
	background: #f29f4b;
	position: absolute;
	top: 100%;
	opacity: 0.99;
	width: 200px;
	padding: 20px 20px 20px 20px ;
}
#menu > li:hover > ul{
	display: block;
	width: 200px;
}

div.noimage{
	clear: both;
}
div.image.left, div.image.right{
	clear: both;
	background-color: #f29f4b; 
	border-radius: 8px;
	margin: 8px 16px;
	padding: 12px 16px;
	text-align: center;
}
div.image.left{
	float: left;
	margin-left: 0;
}
div.image.right{
	float: right;
	margin-right: 0;
}
div.image.left img, div.image.right img{
	display: block;
	margin-bottom: 4px;
	opacity: 0.9;
}
