
html, body{
	margin: 0;
	padding: 0;
	min-height: 100%;
}
html{
	position: relative;
}
body{
	background: fixed #999 url("/img/titul.jpg") center top no-repeat;
	background-size: 100%;
	color: #000;
	font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}

a#logo{
	position: absolute;
	margin-left: 16px;
	margin-top: 1px;
}
a#logo img{
	width: 100px;
}

a{
	text-decoration: none;
	color: #2b1921;
}
a:hover{
	text-decoration: underline;
}

div.body{
	padding-top: 102px;
	padding-bottom: 32px;
}
header{
	background-color: #f29f4b;
	border-radius: 0 0 32px 32px;
	font-size: 13pt;
	height: 102px;
	opacity: 0.80;
	position: absolute;
	top: 0px;
	width: 100%;
}
footer{
	background: #f29f4b;
	border-radius: 32px 32px 0 0;
	bottom: 0px;
	height: 16px;
	opacity: 0.80;
	padding: 8px 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

p{
	text-align: justify;
}

ul, li{
	margin: 0;
	padding: 0;
	list-style-type: none;   
}

.hide{
	display: none;
}

#menu{
	display: block;
	position: absolute;
	top: 25px;
	right: 20px;
}
#menu > li{
	display: table-cell;
	float: left;
}
#menu > li > a{
	display: inline-block;
	padding: 20px 30px 30px 30px;
}
#menu > li > ul{
	display: none;
	background: #f29f4b;
	position: absolute;
	top: 100%;
	opacity: 0.99;
	width: 200px;
	padding: 20px 20px 20px 20px ;
}
#menu > li:hover > ul{
	display: block;
	width: 200px;
}

div#user-bar{
	position: relative;
}

div.noimage{
	clear: both;
}
div.image.left, div.image.right{
	clear: both;
	background-color: rgba(242, 159, 75, 1.0);
	border-radius: 8px;
	margin: 8px 16px;

filter:alpha(opacity=100);
-moz-opacity:1;
-khtml-opacity:1;
opacity: 1;
	
	padding: 12px 16px;
	text-align: center;
}
div.image.left{
	float: left;
	margin-left: 0;
}
div.image.right{
	float: right;
	margin-right: 0;
}
div.image.left img, div.image.right img{
	display: block;
	margin-bottom: 4px;
}

div.pages{
	border: 1px dotted gray;
	margin-top: 32px; 
	padding: 4px 16px 8px;
}
div.pages a{
	font-weight: bold;
	font-family: monospace;
	color: red;
}
div.pages a:hover{
	color: blue;
}

div#toolbar{
	background-color: white;
	border-radius: 8px;
	float: right;
	font-weight: bold;
	margin: 4px 16px 0 0;
	opacity: 0.5;
	padding: 4px 8px;
	text-align: right;
}

div#to-top{
	padding: -1px;
}
div#to-top a{
	background-color: #E0E0E0;
	border: 1px #999999 solid;
	border-radius: 8px;
	margin: 0;
	opacity: 0.6;
	overflow: hidden;
	padding: 0;
	position: fixed;
	top: 50%;
	left: 5%;
}
div.lang{
	left: 128px;
	padding: 4px;
	position: absolute;
	top: 24px;
}
div.lang a{
	border: 1px solid white;
	display: inline-block;
}
div.lang a:hover{
	border-color: red;
}
div.lang a img{
	vertical-align: bottom;
}
